*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Home Page */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right ,#535453 10%, #27c8da 90%);  
}

.dropdown-item{
    width: 150px;
    padding-left: 5px;
    padding-top: 2px;
}

.welcome{
    padding-bottom: 20px;
}
.const{
    display: flex;
    justify-content: space-evenly;
}

.return{
    margin-left: 96%;
    width: 40px;
    background-color: #33b4c3;
    box-shadow: #000000 1px 1px 1px 1px;
    border-radius: 50px;
}

footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
}

#image{
    width: 500px;
}

.text{
    padding: 15px;
    margin: auto;
    width: 750px;
    border-radius: 15px;
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 136, 255);
}

#doggo{
    bottom: 15;
    width: 370px;
    height: 218px;
}

.Palace{
    border: black solid 1px ;
    color: rgb(0, 0, 0);
    background-color: #acacac;
    border-radius: 25%;
    height: 50px;
    padding: 5px;
}

.Palace:hover{
    background-color: #33b4c3;
    color: antiquewhite;
    transition: 1s;
}

.more{
    margin-top:10px;
    width: 100px;
    background-color: rgb(0, 136, 255);
    border-radius: 50px;
    }
    
.more a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.more:hover{
    background-color:#268d99;
    color: rgb(216, 213, 213);
}

/* About page */

#about{
    background-color: rgb(235, 235, 235);
}

#about1{
    margin-top: 20px;
}

.aboutFlex{
    padding-top: 30px;
    color: #fbe9e9;
    background-image: linear-gradient(to right ,#333035 30%, #b159f4 70%);  
}

.about-image{
    width: 550px;
    height: 450px;
}

.rowColor{
    padding: 10px;
    background-color: white;
}

#img1{
    width: 500px;
    height: 300px;
}

#img2{
    width: 500px;
    height: 300px;
}

#img3{
    width: 500px;
    height: 300px;
}

/* Store Page */

.store1{
    padding: 20px;
}

.storeText{
    background-color: rgb(235, 235, 235);
}

#storeImg{
    margin-top: 50px;
}

#cat{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: #000000 2px 2px 2px;
}

#bird{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: #000000 2px 2px 2px;
}

#dog{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: #000000 2px 2px 2px;
}

#hampter{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: #000000 2px 2px 2px;
}

#footer{
    position: fixed;
    bottom: 0;
}

/* Bird Page */
.birdText{
    padding: 20px;
    text-align:left;
    color: #000000
}

.bird{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

.birdCage{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

/* Cat Page */

#catMain{
    background-image: linear-gradient(to right ,#333035 10%, #b159f4 90%);
}

.catText{
    padding-top: 10px;
    color: #000000;
}

.catFood{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

.catAccess{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

/* Dog Page */

#dogMain{
    background-image: linear-gradient(to right ,#303532 10%, #b65d3b 90%);
}

.dogText{
    padding-top: 20px;
    padding-left: 20px;
    color: #ffffff;
    text-align: left;
}

.dogFood{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

.dogAccess{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

/* hamster Page */

#hamsterMain{
    background-image: linear-gradient(to right ,#61796b 5%, #3bb650 95%);
}

.hamsterText{
    padding-top: 20px;
    padding-left: 20px;
    color: #ffffff;
    text-align: left;
}

.hamsterFood{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

.hamsterAccess{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
    gap: 3em;
    margin-left: 50px;
    margin-top: 50px;
}

/* Contact Page */

#contactMain{
    background-image: linear-gradient(to right ,#8f8f8f 10%, #4d4d4d 90%);
}

.contactHead{
    color: rgb(0, 0, 0);
    font-size: 7vh;
    padding: 20px;
}

.contactFooter{
    bottom: 0;
    position: fixed;
}

#bam{
    margin-top: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}

#sub{
    width: 60px;
}
